.main {
	cursor: auto;
	padding: 5%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 80%;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
}
.field {
    width: 80%;
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
    transform: scale(1.1);
}
.buttons :last-child {
    color: #000;
}